body {
  background-color: transparent;
  background-image: url("Images/paper.jpg");
  margin: auto;
  padding: 0.5em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 0.5em;
}

p {
  padding: 1em;
}

mark{
  background: rgba(255, 0, 0, 0.637);
  padding: 0.1em;
}

header {
  background-image: linear-gradient(grey, white);
  min-height: 40px;
  padding: 10px;
  text-align: center;
  border-top: 2px solid black;
  border-radius: 5px;

  grid-column-start: 1;
  grid-column-end: 2;
}

header p {
  color: rgb(88, 108, 223);
  margin: 0;
  column-count: 1;
  column-width: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: #555;
  border-radius: 5px;
}

nav ul li a {
  display: block;
  padding: 1em;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background: #777;
  border-radius: 5px;
}

nav li.active {
  background-color: black;
  border-radius: 5px;
}

main {
  padding: 1em;
  margin: 1em;
}

details {
  padding: 1em;
  text-align: center;
}

aside {
  background: rgb(212, 211, 211);
  padding: 1em;
  margin: 1em 0;
  border-radius: 5px;
}

.page-aside {
  margin: 2em;
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.527);
  text-align: center;
}

.page-aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-aside li {
  padding: 1em;
}

footer {
  background-image: linear-gradient(white, grey);
  text-align: center;
  padding: 1em;
  border-radius: 5px;
}

footer p {
  column-count: 1;
  column-width: auto;
}

table {
  text-align: left;
}

article table{
  margin: 0 auto;
}

article {
  background-color: rgba(128, 128, 128, 0.507);
  border-radius: 5px;
  border: 4px solid black;
  margin: 10px;
  padding: 1em;
}


@media (min-width: 480px) {
  body {
    margin: auto;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.5em;
  }

  p {
    column-count: 2;
    column-width: 8em;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  footer {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  main {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .page-aside {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  main {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .page-aside {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
